#congratulation-page {
	.congratulation-form {    
		margin: auto;
		max-width: 350px;
		background: #fcfcfc;
		padding: 24px;
		border-radius: 16px;
		.proceed-button {
			margin: auto;
			display: block;
			width: 130px;
		}
	}
}