.populars-wrapper {
	.popular-wrapper {
		margin: 12px 0;
		border-radius: 12px;
		.avatar {
			padding: 12px;
			display: inline-block;
			vertical-align: top;
		}
		.description {
			.title {
				padding: 0;
				text-align: left;
				white-space: normal;
			}
			.author {
				text-align: right;
			}
			width: calc(100% - 56px);
			padding: 12px;
			padding-top: 2px;
			padding-left: 0px;
			display: inline-block;
			border-bottom: 1px dashed #eee;
		}
	}
	.see-other-wrapper{
		display: block;
		.see-other {
			float: right;
			padding: 0;
		}
	}
}