.top-categories-button {

    background-color: #eee !important;
    border: none !important;
    @media (min-width: 0) {
        min-height: 80px;
        min-width: 80px;
        padding: 0px 0px 0px 0px;
    }
    @media (min-width: 768px) {
        min-height: 80px;
        min-width: 100%;
    }
}
.top-categories {
    overflow-x: auto;
    white-space: nowrap;
}
.top-categories-button:focus,.top-categories-button:hover,.active {
    background-color: #7F7F7F !important;
    color: #ADADAD !important;
}
.bg-select-result {
    padding-left: 10px !important;
}
.select-result {
    min-width: 80px;
}
.select-result .option-result {
    min-width: 50px;
    background-color: #7F7F7F !important;
    border-radius: 25;
}
.result-title {
    font-weight: bold;
    font-size: large;
    color: #29B4F2 !important;
}
.right {
    align-content: flex-start !important;
    align-self: flex-start !important;
    justify-content: flex-start !important;
}