#create-account-page {
	.create-your-account-form {    
		margin: auto;
		max-width: 350px;
		background: #fcfcfc;
		padding: 24px;
		border-radius: 16px;
		.back-button {
			float: left;
			width: 130px;
		}
		.next-button {
			float: right;
			width: 130px;
		}
	}
}